:root {
  --gallery-gray: #626262;
  --gallery-silver: #b4ad9e;
  --gallery-lightslategray: #7d7d7d;
  --hover: #03a9f4;
}
ul {
  list-style-type: none;
}
.nav-list-link {
  color: var(--gallery-lightslategray);
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.nav-list-link:hover {
  color: var(--hover);
}
.gallery-photo {
  width: 420px;
  height: 280px;
}
.gallery-name {
  color: var(#b4ad9e);
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.gallery-title {
  color: var(--gallery-gray);
  font-family: "Playfair Display", serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.gallery-description {
  color: var(--gallery-gray);
  font-family: "Playfair Display", serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.button {
  color: var(--gallery-gray);
  font-family: "Playfair Display", serif;
  font-size: 14px;
  width: 165px;
  height: 60px;
}